.wrapper {
    display: flex;
    flex-flow: row;
}

.left-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60%;
    margin-left: 10px;
}

.right-card-container {
    position: relative;
    right: 7%;
}